:root {
  --color-primary-black: #101010;
  --color-secondary-black: rgba(43, 43, 43, 0.486);
  --color-primary-white: white;
}

* {
  margin: 0;
  padding: 1px;
  background-color: var(--color-primary-black);
  color: var(--color-primary-white);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
